/* 
4. Create an index.html (1 point)
5. Create a CSS folder with a style. CSS on it, please make use of the universal
selector to set the margin, padding to zero, and box-sizing to border-box; (3
points)
6. On your index.html, please generate your basic HTML template using HTML
boilerplate. (1 points) take a screenshot to be sent to your lecturer
7. Now is the time for you to add all files to the staging area, take a snapshot
using the git command, and then publish it to your remote repository. (3
points)
8. Do the pull request (3 points)
9. After you merge the main and folderStructure branches or with the new
branch, you can delete the folderStructure or new branch. (1 points)
10.Back to your terminal; you know what to do by now. (2 points)
11. Make sure you are on the main branch before you can delete your
folderStructure or any other branches that you will create apart from the main
branch. (3 points)
12.Display the state of your repo. (2 points)
13.Run the command that will allow you to see the latest changes on your repo.
(2 points)
14.Create a new branch and checkout to start with a new semantic element and
make use of the HTML comment to provide a description of that specific
element. Repeat steps 7 until 14. (2 points) for each semantic element
15.A minimum of 7 semantic elements
NB: Minus 10 points if you didn’t create branches and complete the pull request.
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}